

body {
  background-color:black;
}

ul {
  display: flex;
  position: absolute;
  bottom: 88%;
  left: 90%;
  transform: translate(-50%,-50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 80px;
  height: 75px;
  font-size: 35px;
}

ul li a:hover .fa {
  transform: rotateY(360deg);
}

a { color:white }

/* Container holding the image and the text */
.container {

  width: 100%;
  height: 100%;

color: black;
border: 1px solid grey;
}



/* about link*/
.about {
position: absolute;
bottom: 94%;
left: 2%;
color: white;
}

/* blog link*/
.blog {
position: absolute;
bottom: 94%;
left: 9%;
color: white;
}

/* blog link*/
.projects {
position: absolute;
bottom: 94%;
left: 13%;
color: white;
}



/* picture */
.img-circle {
border-radius: 50%;
position: absolute;
bottom: -2%;
left: 2%;

}

/* border */
.w3-panel w3-border-top w3-border-bottom {
border-radius: 50%;
position: absolute;
bottom: 50px;
left: 50px;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;


    color: white;
}

header {
  padding: 10px;
  height: 10px;
  word-break: break-word;
  float:right;
  }

  article {
    margin-left: 0px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: visible;
    }

  a {
    font-family: courier;
    color: white;
    padding: 0px 15px;
    }
    footer {
      padding: 1em;
      color: white;
      background-color:#efe6a2;
      clear: left;
      text-align: left;
      }
