<html>
  <head>
    <title>Personal Site</title>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
  </head>
  <body>
    <div class="container">
    <img src="https://i.pinimg.com/originals/23/09/13/230913a86ddd5b60a5a08ee49ebb11fe.png" alt="Norway" style="width:80%;">
    <div class="welcome_text" style="font-size:300%">Welcome</div>
    </div>
    <div class="about">
    <a href="/about">About Me</a>
    </div>
    <div class="blog">
    <a href="/blog">Blog</a>
    </div>
    <div class="projects">
    <a href="/projects">Projects</a>
    </div>
    <div class="img-circle">
    <img  src="https://i.imgur.com/mkl7Uzd.png">
    </div>
    <div>Hello</div>
<hr/>
<div>World</div>
  </body>
</html>
