<html>
  <head>
    <title>Kyle Sallette</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
  </head>
  <body>
    <div class="container">
      <img src="https://i.imgur.com/OAYoMoN.jpg" alt="cabin with monsters" height="700" width="1420">
    </div>
    <ul>
      <li><a href="https://github.com/kylesallette"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/kylesallette/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/kyle_sallette"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://plus.google.com/u/0/113428290341979373162"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    </ul>
    <div class="about">
      <a href="/about"  style="font-size: 17px;" >About Me</a>
    </div>
    <div class="blog">
      <a href="/blog" style="font-size: 17px;">Blog</a>
    </div>
    <div class="projects">
      <a href="/projects" style="font-size: 17px;">Projects</a>
    </div>
    <img  class="img-circle" src="https://i.imgur.com/ANe72IF.jpg"  style="width:250px;height:250px;" >
    <footer>
    </footer>
    <hr>
  </body>
</html>
